@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200..700&display=swap');
.hotel-reservation-container{
    width: 500px;
    height: 150px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: 1px 1px 0px rgb(199, 199, 199);
    border: 1px solid rgb(217, 217, 217);
    
}
.hotel-reservation-image-container{
    height: 100%;
    width: 40%;
    background-color: aqua;
    border-radius: 10px;
    position: relative;
}
.hotel-reservation-image{
    border-radius: 10px;
    border: 1px solid rgb(163, 163, 163);


}
.hotel-reservation-overlay{
    position: absolute;
    background-color: black;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 10px;
}
.hotel-overlay-text-title{
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.hotel-reservation-text-from-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: black;
    
}

.hotel-reservation-text-from-title{
    font-size: 12px;
    font-weight: bolder;
    margin-top: 10px;
    
}
.hotel-reservation-text-from-subtitle{
    font-size: 10px;
}

.hotel-reservation-text-container{
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    padding: 5px;
}

.hotel-reservation-text-hotel-name{
    color: black;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: 'Poppins';
}