@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200..700&display=swap');

.renting-card-container {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: 1px 1px 0px rgb(199, 199, 199);
    border: 1px solid rgb(217, 217, 217);
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.renting-card-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.renting-card-image-container {
    height: 100%;
    width: 40%;
    border-radius: 10px;
    position: relative;
}

.renting-card-image {
    border-radius: 10px;
    border: 1px solid rgb(163, 163, 163);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.renting-card-overlay {
    position: absolute;
    background-color: black;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
}

.renting-overlay-text-title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
}

.renting-card-text-from-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: black;
}

.renting-card-text-from-title {
    font-size: 12px;
    font-weight: bolder;
    margin-top: 10px;
}

.renting-card-text-from-subtitle {
    font-size: 10px;
}

.renting-card-text-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    padding: 5px;
}

.renting-card-text-hotel-name {
    color: black;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: 'Poppins';
}

.renting-card-text-room-type {
    color: #666;
    font-size: 12px;
    margin-top: 2px;
}

.renting-card-text-employee {
    color: #444;
    font-size: 11px;
    margin-top: 5px;
} 