.hotel-information-overlay{
    position: absolute;
    width: 100vw;
    height:  100vh;
    background-color: black;
    opacity: 0.5;
}
.hotel-information-add-info{
    font-family: "Poppins";
    font-weight: bold;
}