.login-container {
    display: flex;
    flex-direction: row-reverse;
    height: 100vh;
    width: 100vw;
  }
  
  .login-form {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
  }
  
  .logo {
    width: 4rem;
    margin-bottom: 1.5rem;
    position: absolute;
  }
  
  .welcome-text {
    font-size: 1.875rem;
    font-family: "Old Standard TT";
    font-weight: bold;
  }
  
  .subtext {
    color: #6b7280;
    font-size: 0.875rem;
    margin-bottom: 1.5rem;
  }
  
  .form-container {
    width: 100%;
    max-width: 24rem;
  }
  
  .label {
    display: block;
    font-weight: 100;
    margin-bottom: 0.5rem;
  }
  
  .input-field {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #d1d5db;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
  }
  
  .submit-button {
    width: 100%;
    background-color: black;
    color: white;
    padding: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  
  .image-container {
    width: 60%;
    height: 100%;
    position: relative;
    display: flex;
  }
  
.login-image {
    width: 100%;
    height: 70%;
    object-fit: cover;
    object-position: right;
    align-self: center;
    border-radius: 10;
}
  
  .image-text {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    color: white;
  }
  
  .country-text {
    font-weight: bold;
    font-size: 1.125rem;
  }
  
  .city-text {
    font-size: 1.25rem;
    font-weight: 600;
  }
  .customer-select{
    background-color: #dddddd;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #d1d5db;
    border-radius: 0.25rem;
    margin-bottom: 1.5rem;
  }
  